@using System.Security.Claims
@model FootballPredictor.Web.ViewModels.Predictions.ListOfPredictionsViewModel
@{
    this.ViewData["Title"] = "Predictions";
}

<div class="d-flex justify-content-center">
    <a class=" btn btn-primary text-white mb-3" href="/Matches/Fuxtures">Create a prediction</a>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col" class="whiteColor">Home</th>
            <th scope="col" class="whiteColor">Predicte Result</th>
            <th scope="col" class="whiteColor">Away</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prediction in Model.Predictions)
        {
            <tr class="table-light">
                <td>@prediction.HomeTeamName</td>
                <td>@prediction.HomeTeamGoals : @prediction.AwayTeamGoals</td>
                <td>@prediction.AwayTeamName</td>
            </tr>
            <tr class=" table-light">
                <th scope="row">Description</th>
                <td> @prediction.Description</td>
                @if (prediction.UserId.Equals(this.User.FindFirst(ClaimTypes.NameIdentifier).Value))
                {
                    <td>
                        <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@prediction.Id">
                            <button type="submit" class="btn btn-danger btn-block mb-3">Delete</button>
                        </form>
                        <a class="btn btn-dark btn-block mb-3" asp-action="Edit" asp-route-id="@prediction.Id">Edit</a>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Delete this prediction?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (Model.PageNumber==1){<text>disabled</text>} ">
            <a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.PreviousPage">Previous</a>
        </li>
        @if (Model.PageNumber != 1)
        {
            <li class="page-item"><a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.PreviousPage">@Model.PreviousPage</a></li>
        }
        <li class="page-item"><a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.PageNumber">@Model.PageNumber</a></li>
        @if (!Model.LastPage)
        {

            <li class="page-item"><a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.NextPage">@Model.NextPage</a></li>
        }
        <li class="page-item @if (Model.LastPage) { <text>disabled</text>} ">
            <a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.NextPage">Next</a>
        </li>
    </ul>
</nav>
