@model FootballPredictor.Web.ViewModels.Predictions.ListOfPredictionsViewModel
@{
    this.ViewData["Title"] = "Predictions";
}

<div class="d-flex justify-content-center">
    <a class="btn btn-block btn-primary text-white mb-3" href="/Predictions/Create">Create a prediction</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Home</th>
            <th scope="col">Predicte Result</th>
            <th scope="col">Away</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prediction in Model.Predictions)
        {
            <tr class="table-light">
                <td>@prediction.HomeTeamName</td>
                <td>@prediction.HomeTeamGoals : @prediction.AwayTeamGoals</td>
                <td>@prediction.AwayTeamName</td>
            </tr>
            <tr class=" table-light">
                <th scope="row">Description</th>
                <td> @prediction.Description</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (Model.PageNumber==1){<text>disabled</text>} ">
            <a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.PreviousPage">Previous</a>
        </li>
        @if (Model.PageNumber != 1)
        {
            <li class="page-item"><a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.PreviousPage">@Model.PreviousPage</a></li>
        }
        <li class="page-item"><a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.PageNumber">@Model.PageNumber</a></li>
        @if (!Model.LastPage)
        {

            <li class="page-item"><a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.NextPage">@Model.NextPage</a></li>
        }
        <li class="page-item @if (Model.LastPage) { <text>disabled</text>} ">
            <a class="page-link" asp-action="MyPredictions" asp-route-id="@Model.NextPage">Next</a>
        </li>
    </ul>
</nav>
