@using FootballPredictor.Common
@model FootballPredictor.Web.ViewModels.Matches.ListOfLeaguesViewModel

@{ 
    this.ViewData["Title"] = "Fixtures";
}
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (Model.PageNumber==1){<text>disabled</text>} ">
            <a class="page-link" asp-action="Fixtures" asp-route-id="@Model.PreviousPage">Previous</a>
        </li>
        @if (Model.PageNumber != 1)
        {
            <li class="page-item"><a class="page-link" asp-action="Fixtures" asp-route-id="@Model.PreviousPage">@Model.PreviousPage</a></li>
        }
        <li class="page-item"><a class="page-link" asp-action="Fixtures" asp-route-id="@Model.PageNumber">@Model.PageNumber</a></li>
        @if (!Model.LastPage)
        {

            <li class="page-item"><a class="page-link" asp-action="Fixtures" asp-route-id="@Model.NextPage">@Model.NextPage</a></li>
        }
        <li class="page-item @if (Model.LastPage) { <text>disabled</text>} ">
            <a class="page-link" asp-action="Fixtures" asp-route-id="@Model.NextPage">Next</a>
        </li>
    </ul>
</nav>
@if (this.User.Identity.IsAuthenticated && Model.ThisUserPredictionsCount > GlobalConstants.PredictionsLimit)
{
    <div class="alert alert-danger text-center" rolse="alert">*You reached the maximum number of predictions made!</div>
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success text-center" rolse="alert"> @this.TempData["Message"]</div>
}

<h1> Games in Gameweek : @Model.Gameweek</h1>
<hr />
<br />

@foreach (var league in Model.Leagues)
{
    <div class="d-flex justify-content-left">
    </div>
    <head>
        <style>
            h2 {
                text-align: center;
                color: aliceblue;
            }
        </style>
    </head>

    <h2>@league.LeagueName</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" class="whiteColor text-center">Home</th>
                <th scope="col" class="whiteColor text-center">Result</th>
                <th scope="col" class="whiteColor text-center">Away</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in league.Matches)
            {

                <tr class="table-light">
                    <td class="td-4 text-right">@match.HomeName</td>
                    <td class="td-4 text-center">@match.HomeGoals : @match.AwayGoals</td>
                    <td class="td-4">@match.AwayName</td>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        if (!match.PredictionCreated)
                        {
                            if (Model.ThisUserPredictionsCount <= GlobalConstants.PredictionsLimit && match.GameweekId == GlobalConstants.CurrentWeek)
                            {
                                <td class="td-4"><a class="btn btn-block btn-primary text-white" href="/Predictions/Create?id=@match.Id ">Create a prediction</a></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            <td scope="row" class="td-4 text-center">Prediction Created</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
}

