@model FootballPredictor.Web.ViewModels.Teams.TeamDetailViewModel

<h1> @this.Model.Name</h1>
<div class="d-flex justify-content-center">
    <a class="btn btn-block btn-primary text-white mb-3" href="/Teams/Squad?id=@Model.Id ">Team Squad</a>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col"class="whiteColor text-center">Home Team</th>
                <th scope="col"class="whiteColor text-center">Result</th>
                <th scope="col"class="whiteColor text-center">Away Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in this.Model.Matches)
            {
                <tr class="table-light">
                    @if (match.HomeName == Model.Name)
                    {
                    <th scope="row" class="text-right">@match.HomeName</th>
                        <td class="text-center"> @match.HomeGoals : @match.AwayGoals</td>
                        <td> @match.AwayName</td>
                    }
                    else
                    {
                        <td class="text-right">@match.HomeName</td>
                        <td class="text-center"> @match.HomeGoals : @match.AwayGoals</td>
                        <th scope="row">@match.AwayName</th>

                    }
                </tr>
            }
        </tbody>
    </table>
</div>
